html, body {
  background-color: #E6EFF7;
  min-height: 100%;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#newCard {
  margin-left: auto;
}

.task-item {
  margin:10px 0;
}

header {
  background-color: #1F496E;
}

header .container-fluid {
  display:flex;
  justify-content:space-between;
}

header .container-fluid .navbar-header {
  margin-right: auto;
}

header .container-fluid ul.navbar-right {
  display: flex;
}

header .container-fluid ul.navbar-right li {
  display: flex;
}

header .container-fluid ul.navbar-right li a {
  padding: auto 30px;
  display:flex;
  align-items: center;
  font-size: 16px;
  color: white;
}

header .container-fluid ul.navbar-right li a:hover {
  color: black;
}


header > div {
  display:flex;
  justify-content:space-between;
}

.edit, .remove, .close {
  cursor: pointer !important;
}

h1 {
  display: inline-block;
  padding-left: 0.4em;
  color: white;
}

h1 small {
  color: #E6EFF7;
}

.userhead {
  display: inline-block;
  float: left;
  font-size: 150%;
  margin: 5px 10px;
}

.cardcol {
  margin: 10px 0px;
}

.panel-heading .glyphicon {
  display: block;
  float: right;
  margin-left: 0.5em;
}

.glyphicon {
  cursor: default;
}

.panel-heading .glyphicon:hover, .glyphicon-trash:hover, .glyphicon-pencil:hover {
  color: orange;
}

.panel-body {
  padding: 10px;
}

.prewrap {
  white-space: pre-wrap;
}

.notefooter {
  display: none;
  margin-bottom: 0;
  font-size: 70%;
  text-align: right;
}

li:hover .notefooter {
  display: block;
}

#newcard {
  margin-top: 0px;
  margin-left: 0px;
}

.panel-footer{
  padding-top: 5px;
  padding-bottom: 5px;
}

.right {
  display: inline-block;
  float: right;
  margin-left: 3px;
}

.white {
  color: white;
}

.list-group {
  margin-bottom: 0px;
}

.list-group-item {
  padding: 5px 7px 5px 7px;
}

.navbar-form, h1 {
  margin-top: 15px;
}

