script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

script(src='/bower_components/dragula.js/dist/dragula.min.js')
script(src='/bower_components/sweetalert2/dist/sweetalert2.min.js')
script(src='/bower_components/ladda-bootstrap/dist/spin.min.js')
script(src='/bower_components/ladda-bootstrap/dist/ladda.min.js')

script(src='/js/main.js')