link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
link(rel='stylesheet', href='/bower_components/bootstrap-social/bootstrap-social.css')

//link(rel='stylesheet', href='https://bootswatch.com/flatly/bootstrap.css')

link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
link(rel="stylesheet", href="/bower_components/sweetalert2/dist/sweetalert2.min.css")
link(rel="stylesheet", href="/bower_components/ladda-bootstrap/dist/ladda-themeless.min.css")

link(rel='stylesheet', href='/css/custom.css')