extends ../layout

block navbar
  nav.navbar.navbar-default.login-navbar
    .container-fluid
      .navbar-header
        button.collapsed.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-5', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #bs-example-navbar-collapse-5.collapse.navbar-collapse
        p.navbar-text.navbar-right
          span Don't you have an account?
          a.btn.btn-default(href='/register') Create an account

block content
  .container
    .row#login
      .main.col-md-4.col-md-offset-4
        img.logo(src='img/logo.png')
        h4
          | Log In to&nbsp;
          span SkyTrelio
          |  using...
        .row
          //a.btn.btn-block.btn-social.btn-twitter(href="/auth/twitter")
            span.fa.fa-twitter
            | Sign in with Twitter
          if (messageGoogleAuth)
            .alert.alert-danger
              p!= messageGoogleAuth
          a.btn.btn-block.btn-lg.btn-social.btn-google(href="/auth/google")
            span.fa.fa-google
            | Sign in with Google
        .login-or
          hr.hr-or
        h4 or use your SkyTrelio account
        form.row.login-form(role='form', action='/login', method='post')
          .form-group(class= (messageLocalAuth) ? 'has-error' : '')
            if (messageLocalAuth)
              .alert.alert-danger
                p!= messageLocalAuth
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-envelope
              input.input-lg.form-control(type='email', name='email', placeholder='Email...', autocomplete='off', tabindex=1)
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input.input-lg.form-control(type='password', name='password', placeholder='Password...', autocomplete='off', tabindex=2)
          a.forgot-password(href='#') I forgot my password
          button.login.btn.btn-lg.btn-block.btn-success(type='submit', tabindex=3) Log In to SkyTrelio
