extends ../layout

block content
  .container
    .row#login
      .main.col-md-6.col-md-offset-3
        h3
          | Log In, or&nbsp;
          a(href='#') Create New Account
        .row
          .col-xs-4
            a.deactivated.btn.btn-lg.btn-primary.btn-facebook.btn-block(href='#') Facebook
          .col-xs-4
            a.btn.btn-lg.btn-primary.btn-twitter.btn-block.google(href='/auth/twitter')
              | Twitter Login
          .col-xs-4
            a.deactivated.btn.btn-lg.btn-primary.btn-google.btn-block.google(href='#') Google
        .login-or
          hr.hr-or
          |
          span.span-or or
        form.login-form(role='form', action='/login', method='post')
          .form-group
            label(for='form-username') Username
            |
            input#form-username.form-username.form-control(type='text', name='username', placeholder='Username...', autocomplete='off', tabindex=1)
          .form-group
            a.pull-right(href='#') Forgot password?
            |
            label(for='form-password') Password
            |
            input#form-password.form-password.form-control(type='password', name='password', placeholder='Password...', autocomplete='off', tabindex=2)
            label.remember-me
              input(type='checkbox')
              |  Remember me
          |
          button.btn.btn.btn-primary(type='submit', tabindex=3)  Log In
